/* <link rel="stylesheet" href="css/你的檔名.css"> */

#wayne{color: gold;font-size: 50px;opacity: 0.7;}
.red{color: red;font-size: 40px;}
 h1{color: green;} 
 #wayne .pink{color:pink}
#wayne img{width: 50%; ;opacity:  ;}